In [1]:
# importing packages
import numpy as np
import pandas as pd

# opening dataframe file from local computer
df1 = pd.read_csv(r'G:\Python projects\suicide rates\master.csv')

# cleaning up data removing columns
df1 = df1.drop(columns = ['country-year', 'HDI for year', 'gdp_per_capita ($)', 'generation'])

# sorting data frame
df1 = df1.sort_values(by=['sex', 'year', "country", "age"], ascending=True)

# resetting index
df1 = df1.reset_index(drop = True)

# dropping one column
df1 = df1.iloc[: , :-1]
df1

,country,year,sex,age,suicides_no,population,suicides/100k pop
0,Antigua and Barbuda,1985,female,15-24 years,0,7709,0.00
1,Antigua and Barbuda,1985,female,25-34 years,0,6344,0.00
2,Antigua and Barbuda,1985,female,35-54 years,0,6173,0.00
3,Antigua and Barbuda,1985,female,5-14 years,0,7339,0.00
4,Antigua and Barbuda,1985,female,55-74 years,0,3778,0.00
...,...,...,...,...,...,...,...
27815,Thailand,2016,male,15-24 years,322,4736305,6.80
27816,Thailand,2016,male,25-34 years,646,4796355,13.47
27817,Thailand,2016,male,35-54 years,1421,10084647,14.09
27818,Thailand,2016,male,55-74 years,734,5203957,14.10
27819,Thailand,2016,male,75+ years,152,1124052,13.52